
.tm-img {
  width: 49%;
}
.tm-bg-primary {
  background-color: #ccd9ac;
}

.tm-contact-left {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(47% at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
}

.tm-contact-left-inner {
  width: 50%;
}

.tm-contact-form {
  padding-top: 120px;
  padding-bottom: 120px;
}

.tm-contact-header {
  font-size: 1.8rem;
  font-weight: 300;
}

.tm-contact-link {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
}

.tm-contact-link:hover,
.tm-contact-link:focus {
  color: white;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccd9ac;
  border-radius: 0;
}

.form-control:focus {
  border-bottom: 2px solid #87a985;
  box-shadow: none;
}

.btn-primary {
  background-color: #87a985;
  border-color: #87a985;
}

.btn-primary:hover {
  background-color: #607a68;
  border-color: #607a68;
}

.tm-btn-round {
  padding: 26px 20px;
  border-radius: 50%;
}

.tm-fl-right {
  float: right;
}



@media (min-width: 1430px) {
  .tm-contact-left {
    width: 80%;
  }

  .container {
    max-width: 1430px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (max-width: 1310px) {
  .tm-bar-2 {
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .tm-logo {
    width: 300px;
    height: 300px;
    top: 25%;
  }

  .tm-welcome-content {
    max-width: 450px;
  }

  .tm-top-bar,
  .tm-welcome-left {
    max-width: 782px;
  }

  .tm-welcome-right {
    margin-left: -55px;
  }
  .tm-section-3-left {
    padding-bottom: 63px;
  }

  .tm-section-3-right {
    -webkit-clip-path: polygon(0 0, 82% 0, 100% 100%, 15% 100%);
    clip-path: polygon(0 0, 82% 0, 100% 100%, 15% 100%);
  }
}

@media (max-width: 991px) {
  .tm-welcome {
    flex-direction: column-reverse;
  }
  .tm-logo {
    top: -250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .tm-welcome-left {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
  }
  .tm-welcome-content {
    max-width: 100%;
  }
  .tm-welcome-icons-container {
    display: flex;
    justify-content: center;
  }
  .tm-welcome-right {
    max-width: 100%;
    width: 100%;
    height: 250px;
    transform: skewY(-5deg);
    margin-bottom: -30px;
    margin-top: 80px;
    margin-left: 0;
  }

  .tm-section-2-inner {
    flex-direction: column;
    margin-left: 0;
  }

  .tm-section-2-left {
    margin-left: 0;
  }

  .tm-section-2-right {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
  }

  .tm-section-2-left {
    width: 100%;
    height: 560px;
  }

  .tm-section-3-inner {
    flex-direction: column-reverse;
  }

  .tm-section-3-left {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-section-3-right {
    width: 100%;
    height: 560px;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .tm-welcome-icon {
    padding: 0 30px 60px 0;
  }

  .tm-contact-left {
    clip-path: none;
    border-radius: 200px;
    width: 100%;
    height: 90%;
  }

  figure.effect-lexi figcaption::before {
    right: -110px;
    bottom: -80px;
  }
}

@media (max-width: 767px) {
  .tm-section-3-left {
    width: 100%;
  }
  .tm-contact-form {
    padding-top: 30px;
  }
}

@media (max-width: 480px) {
  .tm-welcome-icon {
    padding: 0 15px 40px;
    margin-left: 20px;
    font-size: 4em;
  }

  .tm-welcome-left {
    padding: 100px 40px 80px;
  }

  .tm-section-2-right {
    padding-left: 80px;
    padding-right: 80px;
  }

  .tm-section-3-left {
    padding: 70px 80px 80px 80px;
  }
  .tm-gallery-container {
    max-width: 350px;
  }
  .tm-contact-left-inner {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .tm-section-3-left {
    padding: 70px 50px 80px 50px;
  }
}

